
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @booknew %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
		  <tr class="book_<%= @book.id %>">
        <%= render 'bookdetail', book: @book %>
          </tr>
	    </table>

            <!--コメント一覧表示用テーブル-->
    <table class="comment_<%= @book.id %>">
      <%= render 'comment', book_comments: @book.book_comments %>
    </table>

      <%= form_with model:[@book, @book_comment], data: {remote: true} do |f| %>
        <%= f.text_area :comment %>
        <%= f.submit '送信' %>
      <% end %>


  </div>
</div>

